@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Press Start 2P', cursive;
}

button {
    cursor: pointer;
}

body {
    background-color: rgba(111, 161, 11, 0.776);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cs50 {
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 10px;
    z-index: 10;
}

#board {
    width: 45%;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.cell {
    background-color: white;
    display: grid;
    place-items: center;
    font-size: calc(1rem + 5vw);
}

#menu {
    height: inherit;
    width: inherit;
    position: fixed;
    background-color: rgb(207, 178, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    font-size: calc(1rem + 5vw);
}

#menu.close {
    display: none;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#title:first-child {
    width: fit-content;
}

span {
    transition: 500ms ease-in-out;
    text-shadow: 5px 5px #909090;
}

#menu > * {
    width: fit-content;
    text-align: center;
}

#menu-play-options {
    display: flex;
    gap: 5rem;
}

#menu-play-options > * {
    font-size: calc(1rem + 3vw);
    padding: 2rem;
    border: none;
    box-shadow: 5px 5px black;
}

#winner {
    height: inherit;
    width: inherit;
    position: fixed;
    background-color: rgba(27, 25, 31, 0.589);
    display: none;
    place-items: center;
}

#winner.active {
    display: grid;
}

#winner-child {
    height: fit-content;
    width: 500px;
    background-color: #e8e130;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#player-name {
    font-size: 10rem;
}

#winning-type {
    font-size: 5rem;
}

#retry-play-options {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 2rem;
}

#retry-play-options > * {
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: rgb(255, 107, 107);
    border: none;
    box-shadow: 5px 5px black;
}

@media screen and (orientation: portrait) {
    #board {
        width: 95%;
    }

    #cs50 {
        font-size: 0.65rem;
        margin: 0;
        margin-top: 5px;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
    }
    
    #menu {
        font-size: 20vw;
    }

    #menu-play-options {
        gap: 1rem;
        width: 90%;
    }

    #winner-child {
        width: 90%;
    }

    #winner-child {
        box-sizing: border-box;
        padding: 1rem;
    }
    
    #menu-play-options {
        flex-direction: column;
        gap: 2rem;
    }

    #menu-play-options > * {
        padding: 1rem;
    }

    #retry-play-options {
        flex-direction: column;
        gap: 1rem;
    }

}

